<CSS------FILE>
    <head>
        <style>
            body {
            background-color:   lightblue;
            }
        h1{
            color:darkblue;
            text-align:center;
        }
        </style>
</head>
            
