/* Simple Element Selectors */

body {
    background-color: lightcoral;

    /* Missing colon caused CSS to break */
    text-align: center;
}

h1 {
    background-color: darkorange;
    text-align: center;
    color: white;
}

h2 { 
    /* Missing semicolon after background-color */
    background-color: darkorange;
    text-align: center;
    color: darkblue;
}

/* Paragraph selector was never closed */
p {
    color: black;
}

/* Label styles */
label {
    font-family: fantasy;
    color: darkblue;

    /* Makes label appear above input */
    display: block;
}
